.grid-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(var(--grid-col-num), 0fr);

    justify-content: center;
    align-items: center;
}

.grid-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.square {
    display: flex;
    justify-content: center;
    align-items: center;

    border: 1px solid black;
    height: var(--square-size);
    width: var(--square-size);
}


.grid-button {
    height: 40px;
    width: 80px;
    margin: 10px;
    
}

.grid-icon {
    color: grey;
    cursor: pointer;
}

@keyframes spinIcon {
    from {
        transform: rotate(20deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.icon-spin {
    color: #05204A;
    animation-name: spinIcon;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear; 
}